
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/css/contact.css" rel="stylesheet" />
}
<div class="flex h-center contact" id="contact">
    <div class="container">
        <div class="white-box">
            <div class="contact-grid">
                <div id="left" class="left-box">
                    <div class="fs-28 b tx-white">İletişim Bilgileri</div>
                    <div class="fs-20 tx-white"><i class="fas fa-envelope"></i> contact@depremsizhayat.com</div>
                    <div class="fs-20 tx-white"><i class="fab fa-instagram"></i> depremsizhayat</div>
                    <div class="fs-20 tx-white"><i class="fab fa-twitter"></i> depremsizhayat</div>
                    <div class="fs-20 tx-white"><i class="fas fa-phone"></i> +901234567890</div>
                </div>
                <div id="right">
                    <div class="fs-28 pr15 pl15 pt15 b">Bizimle İletişime Geçin</div>
                    <div class="flex h-stretch pl15 pr15 pt10 pb10">
                        <div class="pr7"><input class="input one" placeholder="Adınız"></div>
                        <div class="pl7"><input class="input one" placeholder="Soyadınız"></div>
                    </div>
                    <div class="pl15 pr15 pt10 pb10"><input class="input one" placeholder="E-Mailiniz"></div>
                    <div class="pl15 pr15 pt10 pb10"><textarea class="input one textarea-clear contact-textarea" placeholder="Mesajınız"></textarea></div>
                    <div class="pl15 pr15 align-right">
                        <button class="btn btn-main btn-blue">
                            Gönder
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
