
@{
    ViewBag.Title = "Taleplerim";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}

@using DepremsizHayat.DataAccess;
@model List<ANALYSE_REQUEST>

@section styles{
    <link href="~/Content/css/myrequests.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/myRequests.js"></script>
    <script src="~/Content/js/prompt.js"></script>
}

<div class="flex h-center">
    <div id="my-request-loading" class="full-page flex h-center v-center hidden">
        <div class="free-spinner"></div>
    </div>
    <div class="container"></div>
</div>

