
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/pagenotfound.css" rel="stylesheet" />
</head>
<body>
    <div class="full-page flex v-center h-center direction-column">
        <div class="tx-blue fs-18 brand b">DEPREMSİZ HAYAT</div>
        <div class="icon mb10"><i class="fas fa-times-circle"></i></div>
        <div class="fs-18">Aradığınız sayfa bulunamadı.</div>

        <div class="b int">404</div>

        <a href="/Account/Login" class="link btn btn-main goToHome tx-blue">Giriş sayfasına gidin</a>
    </div>
</body>
</html>
