@*@{
        ViewBag.Title = "Şifremi Unuttum";
        Layout = "~/Views/Account/Shared/_Layout.cshtml";
    }
    @section styles{
        <link href="~/Content/css/setandforgotpassword.css" rel="stylesheet" />
    }
    @section scripts{
        <script src="~/Content/js/registerComponents.js"></script>
        <script src="~/Content/js/forgotPasswordControl.js"></script>
    }
    <div class="flex h-center">
        <div class="container">
            <div class="white-box">
                <div class="top-header align-left p15">Şifremi Unuttum</div>
                <div class="fs-14 tx-gray p15 align-center">Şifrenizi yenilemek için e-mailinizi giriniz.</div>
                <div class="pl15 pr15 pb15">
                    <form-input valid-type="mail" placeholder="E-Mailiniz" id="mailForgot" name="mailForgot"></form-input>
                </div>
                <div class="info-boxes mr15 ml15 mb15 none json" id="forgotJsonInfo"></div>
                @Html.Partial("Shared/_StatusPartial")
                <div class="align-center pb15">
                    <button class="btn btn-main btn-blue spinner" id="forgot">
                        <span class="spinner"></span>
                        Gönder
                    </button>
                </div>
            </div>
        </div>
    </div>*@


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Depremsiz Hayat | Şifre Sıfırlama</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <style>
        /* ERROR-BOX */
        .info-boxes {
            border-radius: 5px;
            font-size: 14px;
            padding: 5px;
            text-align: center;
        }

            .info-boxes.error {
                border: 1px solid rgba(255,59,48,0.2);
                background-color: rgba(255,59,48,0.05);
                color: var(--color-red);
            }

            .info-boxes.success {
                border: 1px solid rgba(52,199,89,0.2);
                background-color: rgba(52,199,89,0.05);
                color: var(--color-green);
            }

        .none {
            display: none;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <span class="h1"><b>Depremsiz</b>Hayat</span>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Lütfen şifrenizi sıfırlamak için e-posta adresinizi giriniz.</p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="E-mail" id="mailForgot" name="mailForgot">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block btn btn-main btn-blue spinner" id="forgot">Gönder</button>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 info-boxes mr15 ml15 mb15 none json mt-3" id="forgotJsonInfo"></div>
                    @Html.Partial("Shared/_StatusPartial")
                </div>
               
                <p class="mt-3 mb-1">
                    <a href="/Account/Login">Giriş yap</a>
                </p>
            </div>
        </div>
    </div>
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <script src="~/Content/js/forgotPasswordControl.js"></script>
</body>
</html>
