.container {
    width: 100%;
    max-width: 600px;
}

form-input input[type="text"],
form-input input[type="password"] {
    border: 1px solid var(--color-border-gray);
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-input-gray);
    padding: 0px 10px;
    width: 100%;
    outline: none;
}
    form-input input[type="text"]::placeholder,
    form-input input[type="password"]::placeholder {
        color: var(--color-placeholder-gray);
    }

form-input[invalid] input[type="text"],
form-input[invalid] input[type="password"] {
    border: 1px solid var(--color-red);
}

.extraSpan,
form-input span {
    color: var(--color-red);
    font-size: 12px;
    padding-left: 10px;
    font-weight: bold;
    padding-top: 5px;
    display: block;
}

.border-red {
    border: 1px solid var(--color-red);
}