.int {
    font-size: 100px;
}

.brand {
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.goToHome {
    background-color: white;
    margin-top: 50px;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.1);
    transition: box-shadow .2s linear;
}

    .goToHome:hover {
        box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.1);
    }

.icon {
    font-size:100px;
    color:var(--color-red);
}
