.container{
  width: 100%;
  max-width:600px;
}

.white-box{
  width: 100%;
}

form-input input[type="text"],
form-input input[type="password"]{
  border:1px solid var(--color-border-gray);
  height: 40px;
  border-radius: 5px;
  background-color: var(--color-input-gray);
  padding: 0px 10px;
  width: 100%;
  outline: none;
}
form-input input[type="text"]::placeholder,
form-input input[type="password"]::placeholder{
  color: var(--color-placeholder-gray);
}
form-input[invalid] input[type="text"],
form-input[invalid] input[type="password"],
form-input[invalid] .select.one{
  border:1px solid var(--color-red);
}
form-input span{
  color:var(--color-red);
  font-size: 12px;
  padding-left: 10px;
  font-weight: bold;
  padding-top:5px;
  display:block;
}

.select.one{
  height: 40px;
  border: 1px solid var(--color-border-gray);
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}