@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/css/login.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/loginControl.js"></script>
}
<div class="flex h-center">
    <div class="container">
        <div id="imageWithText">
            <div class="tx-gray fs-14">#depremsizhayat</div>
            <div>HEP BİRLİKTE<br>DEPREMSİZ BİR HAYATA</div>
        </div>
        <div class="white-box">
            <div class="top-header align-left p15">Giriş Yap</div>
            <div class="p15"><input type="text" class="input one login-inputs" id="email" placeholder="E-Mailiniz"></div>
            <div class="pr15 pl15 pb15"><input type="password" class="input one login-inputs" id="password" placeholder="Şifreniz"></div>
            @Html.Partial("Shared/_StatusPartial")
            <div class="info-boxes error mr15 ml15 mb15 none json" id="loginJsonError">
            </div>
            <div class="align-center pb10">
                <button id="loginButton" class="btn btn-main btn-blue spinner">
                    <span class="spinner"></span>Giriş Yap
                </button>
            </div>
            <div class="fs-12 tx-gray b align-center pb10"><a href="ForgotPassword" class="link">Şifremi Unuttum</a></div>
            <div class="last-header p15 align-center">
                <a class="link tx-blue" href="Register">Yeni Hesap Oluştur</a>
            </div>
        </div>
        <div class="fs-12 align-center tx-gray mt15">v0.6</div>
        <div class="fs-12 align-center tx-gray mt15">Last Update: 12/06/2021</div>
    </div>
</div>