
@{
    ViewBag.Title = "SetNewPassword";
    Layout = "~/Views/Account/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/css/setandforgotpassword.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/registerComponents.js"></script>
    <script src="~/Content/js/forgottenPasswordControl.js"></script>
}
<div class="flex h-center">
    <div class="container">
        <div class="white-box">
            <div class="top-header align-left p15">Yeni Şifre Oluştur</div>
            <div class="fs-14 tx-gray p15 align-center">Yeni şifrenizi giriniz.</div>
            @using (Html.BeginForm("SetForgottenPassword", "Account", FormMethod.Post))
            {
                <div class="pl15 pr15 pb15">
                    <form-input valid-type="password" placeholder="Yeni Şifreniz" name="newPassword"></form-input>
                    <input type="hidden" name="authCode" />
                </div>
                <div class="align-center pb15">
                    <button class="btn btn-main btn-blue" id="setForgotten" type="submit">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>